<div class="cartContainer">
  {{#if render}}
    <h1>Carrito</h1>
    <h3>Identificador</h3>
    <p>{{cart._id}}</p>
    <div class="" id="cartList">
      <h3>Productos</h3>
      <div class="grid">
        <h4>Nombre</h4>
        <h4>Cantidad</h4>
        <h4>Precio</h4>
        {{#each cart.products}}
          <p>{{product.title}}</p>
          <p>{{quantity}}</p>
          <p>{{product.price}}</p>
        {{/each}}
      </div>
      <a class="links" href="/views/products">Página principal</a>
      <br />
      <br />
      <button class="links" id="checkOut" data-id={{cart._id}}>Finalizar compra</button>
    </div>
    <div id="cartOutStock"></div>
    <div id="cartTicket"></div>
  {{else}}
    <h2>Error 404: El recurso al que intenta acceder no existe</h2>
    <div class="linkError">
      <a href="/views/products">Home</a>
    </div>
  {{/if}}
</div>
<script src="/checkOut.js"></script>